<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Registration Page</title>
</head>
<body>
    <body>

    

        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>
                {{message}}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        
    
        <h1>Register</h1>



        <form class="" action="/userRegConf" method="post">
            {% csrf_token %}
            <p>Name: <input type="text" name="name" id=""></p>
            
            <p>User Name: <input type="text" name="usname" id=""></p>
            
            <p>Password: <input type="password" placeholder="Choose your password" name="pw" id=""></p>
            <p>Conifrm Password:<input type="password" placeholder="Confirm password" name="cpw" id=""></p>
            <input type="submit" value="Register">
            
        </form>
    
        <h1>Log In</h1>
    
        <form class="" action="/userLogInConf" method="post">
            {% csrf_token %}
            <p>Username: <input type="text" name="usname" id=""></p>
            <p>Password: <input type="password" name="pw" id=""></p>
            <input type="submit" value="Log In">
            
        
</body>
</html>